<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduTrack - Course Registration</title>
    <link rel="stylesheet" href="/master.css">
</head>

<body class="centeredItems">

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="logout">Log out</a></li>
            <li><a href="app">Sessions</a></li>
        </ul>
    </nav>


    <h2>Welcome, <%= name %>! Select a course to register:</h2>

    
    <% if (availableCourses.length > 0) { %>
        <label for="courseSelect">Choose a course:</label>
        <select id="courseSelect">
            <% availableCourses.forEach(function(course) { %>
                <option value="<%= course.courseId %>"><%= course.name %></option>
            <% }); %>
        </select>
        <input type="button" onclick="addStudentToNewCourse()" value="Register"></input>
    <% } else { %>
        <p>No available courses at the moment.</p>
    <% } %>
    
    <div id="errorMessage" style="color: red; margin-top: 10px;"></div>

    <script>
        async function addStudentToNewCourse(){
            const selectedCourse = document.getElementById("courseSelect").value;
            const username = "<%= name %>";

            if (!selectedCourse) {
                document.getElementById("errorMessage").innerText = "Please select a course to register.";
                return;
            }
            
            let response = await fetch("http://localhost:3000/app?action=addStudentToCourse", {
                method:"POST",
                body: JSON.stringify({ courseId: selectedCourse, username: username }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            });
            

            if (response && response.status === 200) {
                window.location.href = "/app/course_registration";
            }
            else {
                const responseJSON = await response.json();
                errorMessage.innerText = responseJSON.message;
            }
        }
    </script>
    <footer class="footer">
        <p>Ideas on improvements? Email us at <a href="mailto:edutrack@gmail.com">edutrack@gmail.com</a></p>
    </footer> 
</body>
</html>
