<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduTrack</title>
</head>
<body>
    <!-- TODO Skapa en sida där man kan se alla tillgängliga kurser och registrera sig till dessa fritt -->
     <h2>Here we are at the course registration site. Welcome, traveler.</h2>
</body>
</html>