<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduTrack: <%- courseData.name %></title>
</head>
<body>
    <!-- TODO: Visualisera alla sessions för denna kurs-->
    <!-- TODO: Se till att gränssnitt för att lägga till session lägger till för kursen vars sida vi är på nu-->
    <%- include("AppModules/Session"); %>
</body>
</html>