<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduTrack</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="logout">Log out</a></li>
            <li><a href="app">Sessions</a></li>
        </ul>
    </nav>
    <%- include("AppModules/Session"); %>
    <h2>My courses</h2>
    <!-- TODO: Lista alla courses som användaren är registrerad till-->
     <ul>
        <!-- Liten ledtråd, courses variabeln skickas med i data i res.render("/Application/Main", data).-->
        <% courses.forEach(function(course){%>
            <li></li>
        <% }); %>
         
     </ul>

     <button onclick=fetchcourses()>fetchcourses</button>

     <script>
        function fetchcourses(){
            fetch("http://localhost:3000/app?action=fetchCourses", {
                method: "POST",
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            });
        }
     </script>
     <a href="/logout"><div><h2>Logout</h2></div></a>
     <footer class="footer">
        <p>Ideas on improvements? Email us at <a href="mailto:edutrack.com">edutrack.com</a></p>
    </footer>    
</body>
</html>