<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduTrack</title>
    <link rel="stylesheet" href="/master.css">
    <script src="/static_functions.js"></script>
    <script>
    </script>
</head>
<body>
    <% if (courses){ %>
        <script>
            // Såhär sparas hämtad kursdata så att klienten skulle kunna använda den i en javascript kontext
            // Isådanafall så får vi tåla VSCode error meddelandet.
            const DATA_COURSE = [<%- courses %>];
        </script>
    <%}%>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="logout">Log out</a></li>
            <li><a href="app">Sessions</a></li>
        </ul>
    </nav>
    
    <!-- TODO: Flytta gränssnittet för att lägga till en session till CoursePage -->
    <!-- TODO: Sätt hit en lista med länkar till alla kurssidor som användaren är registrerad på -->
    <%- include("AppModules/Session"); %>
    <a href="/app/course_registration"><h2>Register to course</h2></a>
    <a href="/logout"><div><h2>Logout</h2></div></a>
    <footer class="footer">
        <p>Ideas on improvements? Email us at <a href="mailto:edutrack.com">edutrack.com</a></p>
    </footer>    
</body>
</html>