<body class="centeredItems">
  <p>Please put in amount of minutes of your session (ex. 85)</p>
  Session duration: <input id="duration" type="text" placeholder="Session duration"><br>
  <p>Please pick the right session for your studies</p>
  Session type: <select name="sessiontype" id="sessiontype">
    <option value="Lecture">Lecture</option>
    <option value="Selfstudies">Self Studies</option>
    <option value="Homework">Homework</option>
    <option value="Project">Project</option>
    <option value="TentaP">TentaP</option>
    <option value="Labs">Labs</option>
  </select><br>
  <p>Pick the grade for the session where 5 is best and 1 is worst</p>
  Session Rating: <select name="rating" id="rating">
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
  </select><br>
  <p>Pick the grade for how you feel physically, if you are sick it's a 1, and 5 is you are feeling good.</p>
  Physical wellbeing: <select name="health" id="health">
    <option value="5">5</option>
    <option value="4">4</option>
    <option value="3">3</option>
    <option value="2">2</option>
    <option value="1">1</option>
  </select><br>
  <button onclick="addSession()">Add session</button>

  <!-- TODO: Nedanstående <select> tag ska fasas ut, eftersom kursen ska impliceras utifrån vilken kurssida man är på-->
  <h2>My Courses</h2>

  <select name="course" id="course">
    <% courses.forEach(function(course) { %>
      <option value="<%- course.courseId %>"><%= course.name %></option>
    <% }); %>
  </select>
  <button onclick="Coursepage()">Gå till kurs</button>

<script>
    async function addSession(){
		let courseValue = document.getElementById("course").value;
		if((!courseValue) || courseValue === ""){
			alert("No course selected");
			return;
		}
        let response = await fetch("http://localhost:3000/app?action=addStudySession", {
            method: "POST",
  		    body: JSON.stringify({
                time: document.getElementById("duration").value ?? -1,
                type: document.getElementById("sessiontype").value,
                rating: document.getElementById("rating").value,
                health: document.getElementById("health").value,
                courseId: document.getElementById("course").value
  		    }),
  		    headers: {
  		        "Content-type": "application/json; charset=UTF-8"
  		    }
        });
		let responseJSON = await response.json();
        alert(responseJSON.message);
    }
</script>
</body>
