<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="app">My Pages</a></li>
        <li><a href="login">Log in</a></li>
        <li><a href="register">Register</a></li>
    </ul>
</nav>