<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
</head>

<body><p>Hello</p>
    <!-- TODO: Skapa en adminpanel. Lägg till / ta bort kurser. Ta bort användare. 
    Kolla vilka andra funktioner som bara admins ska kunna nå.-->
</body>
</html>