<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
</head>

<body><p>Hello</p>
    <div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/app">My Pages</a></li>
            <li><a href="/logout">Log out</a></li>
        </ul>
    </nav>
    </div>

    <div class="centeredItems" id="errorMessage" style="color: red; margin-top: 10px;"></div>
    
    <div id="inputContainer" class="centeredItems">
        <input type="text" value="" id="courseName" placeholder="Course Name"></input>
        <input type="text" value="" id="courseId" placeholder="Course ID"></input>
        <input type="button" onclick="addCourse()" value="Submit" ></input>
    </div>

    <script>
        async function addCourse() {
        let courseName = encodeURIComponent(document.getElementById("courseName").value);
        let courseId = encodeURIComponent(document.getElementById("courseId").value);

        let url = `http://localhost:3000/courseManager?action=addCourse&name=${courseName}&courseId=${courseId}`;

        let response = await fetch(url, {
            method: "POST",
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
        });

        if (response.ok) {
            errorMessage.innerText = "Course added successfully!";
            errorMessage.style.color = "green";
        } else {
            let responseJSON = await response.json();
            errorMessage.innerText = responseJSON.message || "Error adding course";
            errorMessage.style.color = "red";
        }
    }
    </script>
    <!-- TODO: Skapa en adminpanel. Lägg till / ta bort kurser. Ta bort användare. 
    Kolla vilka andra funktioner som bara admins ska kunna nå.-->
</body>
</html>