<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EduTrack</title>
    <link rel="stylesheet" href="master.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="login">Log in</a></li>
            <li><a href="app">Sessions</a></li>
            <li><a href="register">Register</a></li>
        </ul>
    </nav>
    <img src="pictures/EduTrack.svg" alt="logo" width="150">
    <h1 class="centeredItems">Hello and welcome to the best study tracker there is out!</h1>
    <!---TODO: Skapa en sida som ser nice ut att landa på när man går in på hemsidan (och inte är inloggad)-->
    <!-- Länk till att logga in, länk till att registrera, whatever ni kan komma på-->
    <a href="/register"><h1>Register</h1></a>
    <a href="/login"><h1>Login</h1></a>
</body>
</html>