.centeredItemsH {
    display: flex;
    justify-content: center;
}

.centeredItems {
    justify-content: center;
    align-items: center;
    display: flex;
}

#inputContainer {
    width: 50vw;
    height: 50vh;
    margin-top: 5%;
    flex-flow:column;
}

#inputContainer > input {
    width: 100%;
    margin: 1%;
    text-align: center;
}

#inputContainer > select {
    width: 100%;
    margin: 1%;
    text-align: center;
    color: #152242;
}

body {
    background-color: #DBBB68;
}