.centeredItemsH {
    display: flex;
    justify-content: center;
}

.centeredItems {
    justify-content: center;
    align-items: center;
    color: #DBBB68;
    display: flex;
    flex-direction: column;
}

#inputContainer {
    width: 50vw;
    height: 50vh;
    margin-top: 5%;
    flex-flow:column;
}

#inputContainer > input {
    width: 100%;
    margin: 1%;
    text-align: center;
}

#inputContainer > select {
    width: 100%;
    margin: 1%;
    text-align: center;
    color:black;
}

body {
    background-color: #152242;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color:#DBBB68;
    padding: 8px 12px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.footer {
    background-color: #DBBB68;  
    color: #152242;            
    text-align: center;      
    padding: 5px 0;         
    position: fixed;         
    width: 100%;            
    bottom: 0;               
}

