<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
	<link rel="stylesheet" href="master.css">
</head>
<body>
    <div class="header-container">
        <!-- Heading Section (Top-left aligned) -->
        <div class="heading-section">
            <h2>EduTracker - Track, Analyze, and Improve Study Habits</h2>
            
        </div>

        <!-- Navigation (Horizonally aligned beside the heading) -->
		<%- include("CommonModules/Nav") %>
    </div>
</body>

<body>
	<h1 class="centeredItems">We are glad to have you with us!</h1>
	<div id="inputContainer" class="centeredItems">
		<input type="text" value="" id="user" placeholder="Username"></input>
		<input type="password" value="" id="pass" placeholder="Password"></input>
		<select name="Class" id="class">
		  <option value="DV">DV</option>
		  <option value="IT">IT</option>
		  <option value="ES">ES</option>
		</select>
		<input type="button" onclick="checkTheData()" value="Submit"></input>       
	</div>

	<div id="errorMessage" style="color: red; margin-top: 10px;"></div>

    <script>

	let userElement = document.getElementById("user");
	let passElement = document.getElementById("pass");
	let classElement = document.getElementById("class");
	
	
	// Se till att rutorna är ifyllda ordentligt
	async function checkTheData() {
		if (passElement.value.length < 8 || passElement.value.length > 20) {
			alert("Does not meet the requirements, between 8 to 20 characthers.");
			return;
		}
		if (userElement.value.length > 20){
			alert("Name is to long, maximum of 20 characthers.");
			return;
		}
		// Om rutorna är ifyllda, skicka all data till servern
		sendTheData();		
	}


	async function sendTheData() {
		let response = await fetch("http://localhost:3000/register", {
	  		method: "POST",
	  		body: JSON.stringify({
	  		  user: userElement.value,
	  		  pass: passElement.value,
	  		  class: classElement.value
	  		}),
	  		headers: {
	  		  "Content-type": "application/json; charset=UTF-8"
	  		}
		});

		const res = await response;
		if(res && res.status === 200) {
			window.location.href = "/app";
		}
		else {
			const responseJSON = await res.json();
			errorMessage.innerText = responseJSON.message;
		}
	}
    </script>
	<footer class="footer">
        <p>Ideas on improvements? Email us at <a href="mailto:edutrack@gmail.com">edutrack@gmail.com</a></p>
    </footer>    
</body>
</html>