<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <script>
        //gör en try send the data som kollar att alla värden finns med
function sendthedata() {
    let user = document.getElementById("user");
    let pass = document.getElementById("pass");
    let klass = document.getElementById("klass");
    let email = document.getElementById("email");

    fetch("localhost:3000/register", {
  method: "POST",
  body: JSON.stringify({
    user: user,
    pass: pass,
    klass: klass,
    email: email
  }),
  headers: {
    "Content-type": "application/json; charset=UTF-8"
  }
});

}

    </script>
    <input type="text" value="" id="user" placeholder="Username"></input><br>
    <input type="text" value="" id="pass" placeholder="Password"></input><br>
    <input type="text" value="" id="klass" placeholder="Class"></input><br>       
    <input type="text" value="" id="email" placeholder="Email"></input><br>
    <input type="button" onclick="sendthedata()">Submit</input>       
</body>
</html>