<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
	<link rel="stylesheet" href="master.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="landing">Home</a></li>
            <li><a href="login">Log in</a></li>
            <li><a href="app">Sessions</a></li>
            <li><a href="Register.ejs">Register</a></li>
        </ul>
    </nav>
</body>

<body class="centeredItems">
	<div id="inputContainer" class="centeredItems">
		<input type="text" value="" id="user" placeholder="Username"></input>
		<input type="password" value="" id="pass" placeholder="Password"></input>
		<input type="email" value="" id="email" placeholder="Email"></input>
		<select name="Class" id="class">
		  <option value="DV">DV</option>
		  <option value="IT">IT</option>
		  <option value="ES">ES</option>
		</select>
		<input type="button" onclick="checkTheData()" value="Submit"></input>       
	</div>

	<div id="errorMessage" style="color: red; margin-top: 10px;"></div>

    <script>

	let userElement = document.getElementById("user");
	let passElement = document.getElementById("pass");
	let classElement = document.getElementById("class");
	let emailElement = document.getElementById("email");
	
	// Se till att rutorna är ifyllda ordentligt
	async function checkTheData() {
		if (passElement.value.length < 8 || passElement.value.length > 20) {
			alert("Does not meet the requirements, between 8 to 20 characthers.");
			return;
		}
		if (userElement.value.length > 20){
			alert("Name is to long, maximum of 20 characthers.");
			return;
		}
		// Om rutorna är ifyllda, skicka all data till servern
		sendTheData();		
	}


	async function sendTheData() {
		let response = await fetch("http://localhost:3000/register", {
	  		method: "POST",
	  		body: JSON.stringify({
	  		  user: userElement.value,
	  		  pass: passElement.value,
	  		  class: classElement.value,
	  		  email: emailElement.value
	  		}),
	  		headers: {
	  		  "Content-type": "application/json; charset=UTF-8"
	  		}
		});

		const res = await response;
		if(res && res.status === 200) {
			console.log("User created!");
		}
		// OBS: 400 Är generell felstatuskod
		// sista else i funktionen kommer därför förmodligen aldrig nås.
		
		// TODO: (1/2) Får bara upp undefend ist för rätt meddelande från TS filen, lösssss
		// TOCHECK: (2/2) Läs av res.json för att avgöra vad för fel som uppstått, visa detta för användaren.
		else if(res && res.status === 400) {
			errorMessage.innerText = res.message;
			
		} else {
			// Detta kommer troligtvis inte nås (om inte något verkligen, verkligen bajsar på sig)
			console.log("Something go wrong");
			console.log(res);
		}
	}
    </script>
</body>
</html>